* {
    font-family: "Rimouski";
    font-size: 1rem;
}
body {
    margin-top: 100px;
    overflow-y: hidden;
    height: 90vh;
    width: 100vw;
    background-image: url('https://source.unsplash.com/random');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -2;
}
i {
    font-size: 4rem;
    color: rgba(21, 159, 244, 0.94);
    padding: 20px;
}